<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head',{
    title : 'Editar producto'
}) %>

<body class="productEdit">
  
    <%- include('../partials/header') %>

    <main class="container">
        <div class="row">
            <div class="col-12 col-md-8 mx-auto my-4">
                <div class="card">
                    <div class="card-body">
                        <h3 class="text-dark">Editar producto</h3>
                        <hr>
                        <form action="/products/update/<%= product.id %>?_method=PUT"  method="POST" class="row">

                            <div class="form_input--profile  col-12" >
                                <label for="name" class="form-label">Nombre</label>
                               <input type="text" class="form-controlAdd" id="name" name="name" value="<%= product.name %>"> 
                               <small class="error_login"><%= locals.errors && errors.name ? errors.name.msg : null %></small>
                               <small id="errorNombre" class="error_login"></small>
                    
                           </div>
                           
                           <div class="form_input--profile  col-12 col-md-6" >
                            <label for="price" class="form-label">Precio</label>
                               <input type="number" class="form-controlAdd" id="price" name="price" value="<%= product.price %>">
                               <small class="error_login"><%= locals.errors && errors.price ? errors.price.msg : null %></small>
                               <small id="errorNumber" class="error_login"></small>
                    
                           </div>
                           <div class="form_input--profile  col-12 col-md-6" >
                            <label for="discount" class="form-label">Descuento</label>
                               <input type="number" class="form-controlAdd" id="discount" name="discount" value="<%= product.discount %>">
                               <small class="error_login"><%= locals.errors && errors.discount ? errors.discount.msg : null %></small>
                    
                           </div>
                        
                       <div class="form_input--profile  col-12 col-md-6">
                        <label for="brand" class="form-label">Marca</label>
                            <select name="brandId" id="brand" class="form-controlAdd w-100">
                                <% brands.forEach(brand => { %>
                                    <option value="" selected disabled hidden>Elegí una marca</option>
                                    <option value="<%= brand.id %>" <%= (product.brandId == brand.id) && 'selected'%>><%= brand.name %></option>
                                <% }) %>
                            </select>
                            <small class="error_login"><%= locals.errors && errors.brand ? errors.brand.msg : null %></small>
                    
                           </div>
                         <!--   <div class="form_input--profile  col-12 ">
                            <label for="Talle" class="form-label">Talle</label>
                            <select name="talle" id="Talle">
                
                            </select>
                            <small class="error_login"></small>
                    
                           </div> -->
                    
                           <div class="form_input--profile  col-12 col-md-6">
                            <label for="category" class="form-label">Categoría</label>
                            <select name="categoryId" id="category" class="form-controlAdd w-100">
                                <% categories.forEach(category => { %>
                                    <option value="" selected disabled hidden>Elegí una categoría</option>
                                    <option value="<%= category.id %>" <%= (product.categoryId == category.id) && 'selected'%>><%= category.name %></option>
                                <% }) %>
                            </select>
                               </div>
                           
                           
                       
                           <!-- <div class="agregar_producto3"> -->

                                <div class="form_input--profile col-12">
                                    <label for="description" class="form-label">Descripción</label>
                                   <textarea class="form-control1" id="description" name="description" rows="3" style="resize: none; width: 100%;"><%= product.description %></textarea>
                                   <small class="error_login"><%= locals.errors && errors.description ? errors.description.msg : null %></small>
                                   <small id="errorDescription" class="error_login"></small>
                    
                               </div>
                           <div class="form_input--profile  col-12 col-md-6" >
                            <label for="image" class="form-label">Imagen</label>
                            <input type="file" class="form-controlAdd" id="image" name="image" accept=".jpg, .png, .wepb">
                            <small id="errorImage" class="error_login"></small>
                    
                        </div>
                        <div class="col-12 col-md-6">
                            <img src="/img/zapatillas/<%= product.images[0] ? product.images[0].file : 'defaultProduct.jpeg'%> " id="imgPrev" alt="" class="img-fluid">
                        </div>
                       <div class="form__box form__box--flex ">
                        <button class="btn btn-outline-secondary "> <a href="/products/detalle/<%= product.id %>" class="text-dark">Volver</a></button>
                        <button class="btn btn-outline-dark" type="submit">Guardar</button>
                    </div>  
                    
                    </form>    
</div>
</div>
        </div>
    
</main>

<%- include('../partials/footer') %>
<script src="/js/validacionProductEdit.js"></script>
<script>
    const inputImage = document.getElementById('image');
    const imgPrev = document.getElementById('imgPrev')
    inputImage.addEventListener('change', ({target}) => {
        const reader = new FileReader();
        reader.readAsDataURL(target.files[0]);
        reader.onload = () => {
                        imgPrev.src = reader.result
                    }
    })
</script>
</body>
</html>