<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head', {title : 'MoonWalking | Home' }) %>

    <body class="home">
        <%- include('./partials/header') %>
            <main class="container">


                <section class="products">

                    <div class="d-flex justify-content-center gap-3 my-5">

                        <button onclick="getProduct(2)" class="btn btn-outline-dark" style="width:300px">
                            Deportivo
                        </button>
                        <button onclick="getProduct(1)" class="btn btn-outline-dark" style="width:300px">
                            Urbano
                        </button>

                    </div>
                    <div class="row mt-4" id="box-products" style="max-width: 1200px;">
                        <% deportivo.forEach(({id,name,images,price,brand})=> { %>
                            <div class="col-12 col-md-6 col-lg-3 mb-4">
                                <a href="/products/detalle/<%= id %>">
                                    <div class="cardProduct">
                                        <img class="img-fluid"
                                            src="/img/zapatillas/<%= (images && images.length > 0) ? images[0].file : 'defaultProduct.jpeg' %>"
                                            alt="">
                                        <div class="logotipo" >
                                            <img class="img-fluid" src="/img/marcas/<%= brand.image %> " alt="">
                                        </div>
                                        <hr>
                                        <article>
                                            <h4 class="">
                                                <%= name %>
                                            </h4>
                                            <h2 class="text-end">$ <%= price %>
                                            </h2>
                                        </article>
                                    </div>
                                </a>
                            </div>

                            <% }) %>
                    </div>

                </section>



                <section class="carrucel_logos">
                    <div class="slaider-frame">
                        <ul>
                            <% brands.forEach(brand => { %>
                                <li><a class="Img p-3" href="/products/search?brand=<%= brand.id %>"><img class="img-fluid"   src="/img/marcas/<%= brand.image %>" alt=""></a></li>
                            <% }) %>
                        </ul>
                    </div>
                </section>

                <section class="productos">
                    <h2 class="">Ofertas</h2>

                    <div class="row mt-4" id="box-products" style="max-width: 1200px;">
                        <% ofertas.forEach(({id,name,images,price, discount})=> { %>
                            <div class="col-12 col-md-6 col-lg-3 mb-4">
                                <a href="/products/detalle/<%= id %>">
                                    <div class="cardProduct">
                                        <img class="img-fluid"
                                            src="/img/zapatillas/<%= (images && images.length > 0) ? images[0].file : 'defaultProduct.jpeg' %>"
                                            alt="">
                                        <div
                                            class="disponible <%= discount > 30 ? 'text-bg-primary' : 'text-bg-info' %> ">
                                            <p>
                                                <%= discount %>% OFF
                                            </p>
                                        </div>
                                        <hr>
                                        <article>
                                            <h4 class="">
                                                <%= name %>
                                            </h4>
                                            <div class="d-flex align-items-end justify-content-between">
                                                <h4 class="m-0 text-danger"><s>$ <%= price %></s> </h4>
                                                <h3 class="text-end m-0">$ <%= price %>
                                                </h3>
                                            </div>

                                        </article>
                                    </div>

                                </a>
                            </div>

                            <% }) %>
                    </div>

                </section>
            </main>
            <%- include('./partials/footer') %>

                <script>

                    const getProduct = async (category) => {
                        try {

                            let response = await fetch('/api/products/category?category=' + category)
                            let result = await response.json()
                            console.log(result)
                            document.getElementById('box-products').innerHTML = null;

                            result.products.forEach(({images, name,id, price, brand}) => {
                                document.getElementById('box-products').innerHTML += `
                            <div class="col-12 col-md-6 col-lg-3 mb-4">
                                <a href="/products/detalle/${id}">
                                    <div class="cardProduct">
                                        <img class="img-fluid"
                                            src="/img/zapatillas/${images.length > 0 ? images[0].file : 'defaultProduct.jpeg'}"
                                            alt="">
                                        <div class="logotipo" >
                                            <img class="img-fluid" src="/img/marcas/${brand.image}" alt="">
                                        </div>
                                        <hr>
                                        <article>
                                            <h4 class="">
                                                ${name}
                                            </h4>
                                            <h2 class="text-end">$ ${price}
                                            </h2>
                                        </article>
                                    </div>
                                </a>
                            </div>
                                `
                            });

                        } catch (error) {
                            console.error
                        }
                    }
                </script>

    </body>

</html>