<!DOCTYPE html>
<html lang="es">

    <%- include('../partials/head', { title : 'Perfil de usuario'}) %> 

<body class="register">
    <%- include('../partials/header') %> 

    <main class="">
        <section class="">
          <h3 class="h3_profile">Mi Perfil</h3>
          <figure class="imagen_profile">
            <!--tanto el width como el border radius hay que quitarlo y ponerlo en el css-->
               <img src="/img/users/<%= user.image ? user.image : 'default.jpg' %>" alt="Tu avatar"> 
          </figure>
          <form action="/users/update/<%= user.id %>?_method=PUT" class="form_profile" enctype="multipart/form-data" method="POST">
                <div class="form_input--profile">
                    <label class="" for="nombre">Nombre:</label>
                    <input class="" type="text" autocomplete="off" name="firstName" value="<%= user.firstName %>">
                </div>
                <div class="form_input--profile">
                    <label class="" for="apellido">Apellido:</label>
                    <input class="" type="text" name="lastName" value="<%= user.lastName %>">
                </div>
                <div class="form_input--profile">
                    <label class="" for="dni">DNI:</label>
                    <input class="" type="text" name="dni" value="<%= user.dni %>">
                </div>
                <div class="form_input--profile">
                    <label class="" for="celular">Celular:</label>
                    <input class="" type="text" name="celular" value="<%= user.celular %>">
                </div>
                <div class="form_input--profile">
                    <label class="" for="email">Email:</label>
                    <input class="" type="email"  name="email" value="<%= user.email %>" readonly>
                </div>
                <div class="form_input--profile">
                    <h5 class="h5--profile">Domicilio</h5>
                        <label class="" for="calle">Calle y altura:</label>
                        <input class="" type="text" name="calle" placeholder="Calle" value="<%= user.calle %>">
                        <input class="" type="text" name="numero"  placeholder="Número" value="<%= user.numero %>">

                        <label class="" for="cp">Código Postal:</label>
                        <input class="" type="text" name="cp" value="<%= user.cp %>">

                        <label class="" for="piso">N° Piso:</label>
                        <input class="" type="text"  name="piso" value="<%= user.piso %>">
                        
                        <h5 class="h5--profile">Ciudad</h5>
                        <select class="form__select--profile" name="city" id="city">
                            <option value="" hidden selected>Selecciona tu ciudad</option>
                            <% cities.forEach(city => { %>
                                <option <%= city === user.city && 'selected'%>  value="<%= city %>"><%= city %></option>
                            <% }) %>
                        </select>

                        <select class="form__select--profile" name="province" id="province">
                            <option value="" hidden selected>Selecciona tu provincia</option>
                            <% provinces.forEach(province => { %>
                                <option <%= province === user.province && 'selected' %> value="<%= province %>"><%= province %></option>
                            <% }) %>
                        </select>
                    
                </div>
                <div class="form_input--profile--image">
                    <h5 class="h5_profile--avatar">Tu Avatar</h5>
                    <label class="input_image--profile" for="image">Selecciona una imagen</label>
                    <input hidden class="input_image--profile" type="file" name="image" id="image" accept=".jpg, .png, .wepb">
                </div>
                <div class="div_button--profile">
                    <a href="" class="cancelar_add--profile">Cancelar</a>
                    <button  class="guardar_add--profile" type="submit">Guardar cambios</button>
                </div>
          </form>
        </section>
    </main>
    <%- include('../partials/footer') %>
</body>

</html>