<!DOCTYPE html>
<html lang="es">

<%- include('../partials/head', { title : 'Perfil de usuario' }) %>

    <body class="register">
        <%- include('../partials/header') %>

            <main class="container">
                <div class="row">
                    <div class="col-12 col-md-6  col-lg-4 mx-auto my-3">

                        <div class="card">
                            <div class="card-body">
                                <form action="/users/update/<%= user.id %>?_method=PUT" enctype="multipart/form-data"
                                    method="POST">
                                    <figure class="imagen_profile">
                                        <!--tanto el width como el border radius hay que quitarlo y ponerlo en el css-->
                                        <div class="position-relative">
                                            <img id="imgPrev"
                                                src="/img/users/<%= user.image ? user.image : 'default.jpg' %>"
                                                alt="Tu avatar">
                                            <label  for="image"
                                                class="btn btn-sm btn-success position-absolute bottom-0 end-0"><i
                                                    class="fas fa-image "></i></label>
                                        </div>

                                        <div class="h3_profile">
                                            <h3>Mi Perfil</h3>
                                        </div>
                                    </figure>

                                    <div class="form_entero_1">
                                        <div class="form_input--profile">
                                            <label class="" for="nombre">Nombre:</label>
                                            <input class="" type="text" autocomplete="off" name="firstName"
                                                value="<%= user.firstName %>">
                                        </div>
                                        <div class="form_input--profile">
                                            <label class="" for="apellido">Apellido:</label>
                                            <input class="" type="text" name="lastName" value="<%= user.lastName %>">
                                        </div>

                                        <!-- <div class="form_input--profile">
                                <label class="" for="celular">Celular:</label>
                                <input class="" type="text" name="celular" value="<%= user.celular %>">
                            </div>-->
                                        <div class="form_input--profile">
                                            <label class="" for="email">Email:</label>
                                            <input class="" type="email" name="email" value="<%= user.email %>"
                                                readonly>
                                        </div>

                                    </div>

                                    <div class="mx-auto">
                                        <div class="  ">
                                            <input hidden class="input_image--profile" type="file" name="image"
                                                id="image" accept=".jpg, .png, .wepb">
                                            <button class="button--profile btn btn-outline-secondary my-2"> <a href="/"
                                                    class="text-dark">Cancelar</a></button>
                                            <button class="button--profile btn btn-outline-dark my-2"
                                                type="submit">Guardar</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>



            </main>
            <%- include('../partials/footer') %>
                <script>
                    const imgPrev = document.getElementById('imgPrev');
                    const inputImage = document.getElementById('image');

                    inputImage.addEventListener('change', ({ target }) => {
                        const reader = new FileReader();

                        reader.readAsDataURL(target.files[0])
                        reader.onload = () => {
                            imgPrev.src = reader.result
                        }

                    })
                </script>
    </body>

</html>