<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Registrarse</title>
</head>
<%- include('../partials/head', {title : 'Register'}) %>

<body>
    <%- include('../partials/header') %>
    <main>
        <h1 class="h1_register">Registrarse</h1>
        <hr>
        <h3 class="h3_register">Completa el Formulario</h3>
        <hr>
        <h4 class="h4_register">Ingrese sus datos.</h4>
        <form action="/users/register" class="form_register" id="form_register" enctype="multipart/form-data" method="POST">
            <div class="form_input">
            <input id="firstName" type="text" name="firstName" placeholder="Nombre" value="<%= locals.old && old.firstName %>">
             <small class="errors" id="errorFirstName"><%= locals.errors && errors.firstName ? errors.firstName.msg : null %></small>
            </div>
            <div class="form_input">
            <input id="lastName" type="text" name="lastName" placeholder="Apellido" value="<%= locals.old && old.lastName %>">
             <small class="errors" id="errorLastName"><%= locals.errors && errors.lastName ? errors.lastName.msg : null %></small>
            </div>
            <div class="form_input">
            <input type="number" id="dni" name="dni" placeholder="DNI" value="<%= locals.old && old.dni %>">
             <small class="errors" id="errorDNI"><%= locals.errors && errors.dni ? errors.dni.msg : null %></small>
            </div>
            <!-- <div class="form_input">
            <input type="tel" name="celular" placeholder="Celular">
            </div> -->
            <div class="form_input">
            <input id="email" type="email" name="email" placeholder="Email" value="<%= locals.old && old.email %>">
             <small class="errors" id="errorEmail"><%= locals.errors && errors.email ? errors.email.msg : null %></small>
            </div>
            <div class="form_input">
            <input id="password" type="password" name="password" placeholder="Contraseña" value="<%= locals.old && old.password %>">
             <small class="errors" id="errorPassword"><%= locals.errors && errors.password ? errors.password.msg : null %></small>
             <span class="input-group-text" style="cursor: pointer;" id="btn-show-pass"><i class="fa-solid fa-eye-slash" ></i></span>
             <ul id="msgPass" hidden>
              <li id="mayu">Una mayúscula</li>
              <li id="minu">Un minúscula</li>
              <li id="num">Un número</li>
              <li id="esp">Un caracter especial ($@$!%*?&)</li>
              <li id="min">Mínimo 5 caracteres</li>
              <li id="max">Máximo 10 caracteres</li>
            </ul>
            </div>
            <div class="form_input">
            <input id="password2" type="password" name="password2" placeholder="Repetir contraseña" value="<%= locals.old && old.password2 %>">
             <small class="errors" id="errorPassword2"><%= locals.errors && errors.password2 ? errors.password2.msg : null %></small>
            </div>
            <!--<div class="form_input">
            <input class="input_calle" type="text" name="calle" placeholder="Calle">
              </div>
             <div class="form_input--number">
            <input type="number" name="number" placeholder="Número">
            <input type="number" name="piso" placeholder="Piso" >
            <input type="number" name="cp" placeholder="CP">  
              </div>
              <div class="form_register--select">
            <select name="city" id="city">   este select va, pero hay que quitarle las opciones
                <option value="" hidden selected>Seleccione su provincia</option>
                <option value="">Buenos Aires</option>
                <option value="">Santa fe</option>
                <option value="">Neuquen</option>
                <option value="">Cordoba</option>
                <option value="">Mendoza</option> 
                <option value="">Salta</option>
                <option value="">Santiago del Estero</option>
                <option value="">Jujuy</option>
                <option value="">Chaco</option>
                <option value="">Entre Rios</option>
                <option value="">Catamarca</option>
                <option value="">La Rioja</option>
                <option value="">Chubut</option>
                <option value="">Tucumán</option>
                <option value="">Misiones</option>
                <option value="">San Luis</option>
                <option value="">San Juan</option>
                <option value="">Corrientes</option>
                <option value="">La Pampa</option>
                <option value="">Río Negro</option>
                <option value="">Santa Cruz</option>
                <option value="">Tierra Del Fuego</option>
                <option value="">Mendoza</option>
                <option value="">Formosa</option>
            </select> 
              </div> -->
              <div class="form_register--image">
                <input id="imageAvatar" class="input_image" type="file" name="image" accept=".jpg, .png, .wepb">
              </div>
              <small class="errors" id="errorAvatar"></small>

            <div class="form_register--button">
            <button type="submit">Continuar</button>
            <br>
          </div>
        </form>
        <small class="errors" id="msgErrors" style="display:none; margin-bottom: 15px; text-align: center;">Hay campos con errores o están vacíos</small>
        
    </main>
    
   <%- include('../partials/footer') %>

</body>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script defer src="/js/validacionRegistro.js"></script>
</html>